*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/build-logic/convention/build/
/build-logic/convention/build/classes/kotlin/main/
/common/data/build/
/common/domain/build/
/common/domain/build/classes/kotlin/main/
/common/presentation/build/
/core/contract/build/
/core/contract/build/classes/kotlin/main/
/core/database/build/
/core/design-system/build/
/core/navigation/build/
/core/network/build/
/core/network/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/feature/favorites/data/build/
/feature/favorites/domain/build/
/feature/favorites/domain/build/classes/kotlin/main/
/feature/favorites/presentation/build/
/feature/movie-details/domain/build/
/feature/movie-details/domain/build/classes/kotlin/main/
/feature/movie-details/presentation/build/
/feature/movies-list/data/build/
/feature/movies-list/domain/build/
/feature/movies-list/domain/build/classes/kotlin/main/
/feature/movies-list/presentation/build/
/feature/search/data/build/
/feature/search/domain/build/
/feature/search/domain/build/classes/kotlin/main/
/feature/search/presentation/build/
/feature/settings/data/build/
/feature/settings/domain/build/
/feature/settings/domain/build/classes/kotlin/main/
/feature/settings/presentation/build/